<footer class="container-fluid">
    <ul>
        <li>
            <img src="../../../assets/img/Log-Prolongar.png" alt="">
        </li>
        <li>
            <p>{{this.datos.name}} &#174;</p>
            <p>{{this.datos.direccion}}</p>
        </li>
        <li>
            <p>{{this.datos.edificio}}</p>
            <p>{{this.datos.ciudad}}</p>
        </li>
        <li>
            <p>Teléfono: {{this.datos.telefono}}</p>
            <p>{{this.datos.email}}</p>
        </li>
        <li>
            <img src="../../../assets/img/Log-Konrad.png" alt="">
        </li>
    </ul>
</footer>
