footer {
    background-color: #fcf4e5;
    color: #dd8d69;
    bottom: 0;
    width: 100%;
    border-top: 2px solid;
}

ul {
    background-color: #fcf4e5;
    list-style-type: none;
    margin: 0em 5em;
    padding: 1.5rem 1rem 1.5rem 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
  }

  li {
    float: left;
  }

  li {
    width:auto;
    margin:1em;
    display: block;
    color: #dd8d69;
    text-align: center;
    text-decoration: none;
    padding: 1em;
  }

  li p {
      text-align:justify;
  }

  li img {
      width:100%;
      object-fit: contain;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
}

.iconos-movil{
  display: none;
  width: 100%;
  margin: 0;

  grid-template-columns: 1fr 1fr;
  padding-bottom: 0;
}

.iconos-movil{
  padding: 1rem;
}

@media screen and (max-width:490px){

  .iconos-movil{
    display: grid;
  }

  .icono-desk{
    display: none;
  }

    ul{
        background-color: #fcf4e5;
        list-style-type: none;
        overflow: hidden;
        display: table-cell;
        padding-top: 0;
    }
    li {
        width: 100%;
        display: block;
        color: #dd8d69;
        text-align: center;
        text-decoration: none;
        padding: 0.5rem;
        margin:0em;
    }

    li p{
      text-align: center;
    }

    footer {
        background-color: #fcf4e5;
        color: #dd8d69;
        position:relative;
        bottom:0;
        width:100%;
        /* height: 0; */
    }
}
