<footer>
    <div>
        <ul>
            <li>
                <img src="../../../assets/img/Log-Prolongar.png" alt="">
            </li>
            <li>
                <p>Fundación Prolongar &#174;</p>
                <p>Calle 95 # 11A-37 oficina 402</p>
            </li>
            <li>
                <p>Edificio Oxford Center P.H</p>
                <p>Bogotá, Colombia</p>
            </li>
            <li>
                <p>Teléfono: +57 322 348 8279</p>
                <p>asistente@fundacionprolongar.org</p>
            </li>
            <li>
                <img src="../../../assets/img/Log-Konrad.png" alt="">
            </li>
        </ul>
    </div>
</footer>
