section {
    background-color: #fff8e6;
    color:white;
    height:100vh;
}


h3{
    text-align: center;
    text-transform: uppercase;
}

.form-register{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#d4826e;
}


.content-register{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

h3, label {
    color:#d4826e;
}

.btn-enviar{
    background-color:#fcc472;
    color:white;
}

.br-register {
    background-color: #fdcd87;
    height: 2px;
    margin: 1.3em 0em;
}