<section>
  <div class="titulo">
    <a routerLink="homes"><img class="logo-garabatos-home" src="./assets/img/LogoHomeGris522X164.png" alt=""></a>
  </div>
  <div class="container">
    <br>
    <h3 class="mt-5">registro</h3>
    <div class="br-register mb-3"></div>

    <form action="" #form="ngForm" [ngClass]="{'is-submitted': form.submitted}" class="form-register" name="form-register"  (ngSubmit)="form.valid && registrarUsuario()">
      <div *ngIf="this.error" class="alert alert-danger" role="alert">
        El correo electrónico ya existe
      </div>
      <h5 class="text-orange">Datos personales</h5>
      <div class="row">
        <div class="col">
          <label for="">Nombre o Apodo:</label>
          <input #nombre="ngModel" type="text" class="form-control" name="user_name" [ngClass]="{'ng-invalid': true}" required [(ngModel)]="model.user_name">
          <ng-container *ngIf="form.submitted && nombre.errors  && nombre.invalid">
            <span *ngIf="nombre.errors.required" class="form-error">Ingrese un nombre o apodo válido</span>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="">Contraseña:</label>
          <input #password="ngModel" type="password" class="form-control" name="password" required [(ngModel)]="model.password" validateEqual="confirmarContrasena" reverse="true">
          <ng-container *ngIf="form.submitted && password.errors &&  password.invalid">
            <span *ngIf="password.errors.required" class="form-error">La contraseña es requerida</span>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="">Confirmar Contraseña:</label>
          <input #confirmarContrasena="ngModel" type="password" class="form-control" name="confirmarContrasena" required  [(ngModel)]="model.confirmarContrasena" validateEqual="password" >
          <ng-container *ngIf="form.submitted && confirmarContrasena.errors &&  confirmarContrasena.invalid">
            <span class="form-error">Las contraseñas no coinciden</span>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="">Correo Electrónico:</label>
          <input #email="ngModel" type="email" class="form-control" required pattern="([A-Z|a-z|0-9|\-!#$%&'*+_](\.){0,1})+[A-Z|a-z|0-9|\-!#$%&'*+_]\@([A-Z|a-z|0-9|\-!#$%&'*+_])+((\.){0,1}[A-Z|a-z|0-9]){1}\.[a-zA-Z]{2,6}(\.[a-zA-Z]{2,6})?" name="email" [(ngModel)]="model.email">
          <ng-container *ngIf="form.submitted &&  email.errors &&  email.invalid">
            <span class="form-error">Ingrese un correo electrónico válido</span>
          </ng-container>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-12 col-lg-8">
          <h5 class="text-orange">Género</h5>
          <div class="row">
            <div class="col-6 col-lg-4">
              <label for="" class="label-green">Femenino: </label>
              <input #gender_id="ngModel" required type="radio" name="gender_id" value="2" [(ngModel)]="model.gender_id">
            </div>
            <div class="col-6 col-lg-4">
              <label for="" class="label-green">Masculino: </label>
              <input #gender_id="ngModel" required type="radio" name="gender_id" value="1" [(ngModel)]="model.gender_id">
            </div>
            <div class="col-6 col-lg-4">
              <label for="" class="label-green">Otro: </label>
              <input #gender_id="ngModel" required type="radio" name="gender_id" value="3" [(ngModel)]="model.gender_id">
            </div>
            <ng-container *ngIf="form.submitted && gender_id.errors  && gender_id.invalid">
              <span *ngIf="gender_id.errors.required" class="form-error align-left">Debe seleccionar una opción</span>
            </ng-container>
          </div>

        </div>

        <div class="col-12 col-lg-4">
          <h5 class="text-orange">Edad</h5>
          <input #age="ngModel" type="number" class="form-control" name="age" required [(ngModel)]="model.age" validateAge>
          <ng-container *ngIf="form.submitted && age.errors  && age.invalid">
            <span *ngIf="age.errors.required" class="form-error">Ingrese una edad válida</span>
            <span *ngIf="age.errors.validateAge" class="form-error">Debe ser mayor de 18 años para continuar</span>
          </ng-container>
        </div>
      </div>
      <br>

      <div class="row">
        <h5 class="text-orange">Ubicacion Actual</h5>
        <div class="col-10 col-xl-5">
          <label for="" class="label-green">Estoy en Colombia</label>
        </div>
        <div class="col-2 col-xl-1 mt-2">
          <input #current_location="ngModel" type="radio"  (change)="checkDepartamentos($event)" value="1" required name="current_location" [(ngModel)]="model.current_location">
        </div>
        <div class="col-10 col-xl-5">
          <label for="" class="label-green">Estoy fuera de Colombia</label>
        </div>
        <div class="col-2 col-xl-1 mt-2">
          <input #current_location="ngModel" type="radio" (change)="checkedDepart=false" name="current_location" value="0" required [(ngModel)]="model.current_location">
        </div>
        <ng-container *ngIf="form.submitted && current_location.errors  && current_location.invalid">
          <span *ngIf="current_location.errors.required" class="form-error align-left">Debe seleccionar una opción</span>
        </ng-container>
      </div>

      <ng-container *ngIf="checkedDepart==true; else elseTemplate">
        <div class="row">
          <div class="col-12 col-lg-6">
            <label for="" class="label-green">Departamento: </label>
            <select #departamento="ngModel" class="form-control" id="departamento" name="departamento" (change)="ciudad()" [(ngModel)]="model.departamento" required>
              <option *ngFor="let item of departamentos; let i=index" value="{{item.id}}">{{item.department}}</option>
            </select>
            <ng-container *ngIf="form.submitted &&  departamento.errors  && departamento.invalid">
              <span class="form-error">Debe seleccionar un departamento</span>
            </ng-container>
          </div>
          <div class="col-12 col-lg-6">
            <label for="" class="label-green">Ciudad: </label>
            <select #city_id="ngModel" class="form-control" id="city_id" name="city_id" [(ngModel)]="model.city_id" required>
              <option *ngFor="let item of municipios; let i=index" value="{{item.id}}">{{item.city}}</option>
            </select>
            <ng-container *ngIf="form.submitted &&  city_id.errors  && city_id.invalid">
              <span class="form-error">Debe seleccionar una ciudad</span>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-template #elseTemplate>

      </ng-template>

      <div class="row">
        <br>
        <div class="col-10 col-xl-5 mt-3">
          <h5 for="" class="text-orange"><a target="_blank" href="https://fundacionprolongar.org/politica-de-privacidad/">Acepto términos y condiciones</a></h5>
        </div>
        <div class="col-2 col-xl-1 mt-3">
          <input required #terminos="ngModel" type="checkbox" [(ngModel)]="model.terminos" name="terminos">
          <ng-container *ngIf="form.submitted && terminos.errors && terminos.invalid">
            <span *ngIf="terminos.errors.required" class="form-error terminos-error">Debe aceptar los términos y condiciones</span>
          </ng-container>
        </div>
        <div class="col-10 col-xl-5 mt-3">
          <h5 for="" class="text-orange">Deseo recibir comunicacion </h5>
        </div>
        <div class="col-2 col-xl-1 mt-3">
          <input type="checkbox" name="receive_info" [(ngModel)]="model.receive_info">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-9 col-xl-">

        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button class="btn float-end mt-4 btn-enviar" >Enviar</button>
      </div>
      <br><br>
    </form>
  </div>
</section>
