section {
    background-color: #fcf4e5;
    color:white;
    /* height:90vh; */
}

.titulo{
  padding-top: 3rem;
  text-align: center;
}

section .container {
    background-color: #fcf4e5;
}

h3{
    text-align: center;
    text-transform: uppercase;
}

.form-register{
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

input{
    border: none !important;
}

label + input[type="radio"]{
  vertical-align: middle;
  margin-left: 5px;
}

h3, label {
    color:#d58071;
}

.br-register {
    background-color: #fdcd87;
    height: 2px;
    margin: 1.3em 0em;
}

.label-green{
  padding-top: 0.4rem;
}

label {
    padding-top: 1rem;
    font-weight: bold;
}

label::first-letter {
    text-transform: uppercase;
}

.label-green {
    color: #a4c794;
}

.text-orange {
    color: #d67952;
}

.btn-enviar {
    background-color:#f7c371;
    color: white;
    width: 30%;
}



.ng-valid .ng-untouched{
    border:none!important;
}


.terminos-error{
  white-space: nowrap;
  direction: rtl;
  padding-right: 70%;
}
