<section>
    <div class="content-register">
        <h3>registro</h3>
        <div class="br-register"></div>
        <form action="" class="form-register">
            <div>
                <label for="">nombre o apodo</label>
                <input type="text" name="" id="">
            </div>
            <div>
                <label for="">contraseña</label>
                <input type="text" name="" id="">
            </div>
            <div>
                <label for="">confrimar contraseña</label>
                <input type="text" name="" id="">
            </div>
            <div>
                <label for="">correo electronico</label>
                <input type="text" name="" id="">
            </div>
            <div>
                <label for="">genero</label>
                <div>
                    <label for="">femenino</label>
                    <input type="radio" name="" id="">
                </div>
                <div>
                    <label for="">masculino</label>
                    <input type="radio" name="" id="">
                </div>
                <div>
                    <label for="">otro</label>
                    <input type="radio" name="" id="">
                </div>
                <div>
                    <label for="">edad</label>
                    <input type="number" name="" id="">
                </div>
            </div>

            <button>enviar</button>
        </form>
    </div>
</section>