<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Correo de Recuperación de contraseña, 
    <p>Hola <%= @user.user_name%>, hemos recibidio una solicitud para reestablecer tu contraseña. </p>
      Para recuperar tu contraseña 
      <a href="<%= @url %>" >haz click aquí</a>
    </p>
    <p>
  
    </p>
  </body>
</html>