.home {
    margin: auto;
    background-color: #fff8e6;
    width: 100%;
}

.titulo{
    padding-top: 5em;
    text-align: center;
    color: #d4826e;
    text-transform: uppercase;
}

/* menu home */

.menu-home{
    margin-top: 5em;
}

ul {
    list-style-type: none;
    margin:0% 10%;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
}

li {
    width: 20%;
    float: left;
    border-bottom: 1px solid #fddead;
    margin: auto;
  }
  
  li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #d4826e;
  }

  li a:hover {
    color: limegreen;
  }


  /* modulos */

  .modulos{
    bottom: 0;
    position:relative;
  }

  .titulo-modulos{
    padding-top: 5em;
    text-align: center;
    color: #d4826e;
    text-transform: uppercase;
  }

  .images{
      display:flex;
      width: 100%
  }

  .images > div {
      width:100%;
  }

  .img-modulos {
      width: 100%;
  }

  .corporalidad {
      color: white;
      width: 100%;
      background-color: #fcc472;
  }