.home {
    /* margin: auto; */
    background-color: #fff8e6;
   /*  width: 100%; */
}

.titulo{
    padding-top: 1em;
    text-align: center;
    color: #d4826e;
    text-transform: uppercase;
}

/* menu home */

.menu-home{
    margin-top: 5em;
}

ul {
    list-style-type: none;
    margin:0% 10%;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

li {
 /*  width: 20%; */
  float: left;
  border-bottom: 1px solid #fddead;
  margin: auto;
}

li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #d4826e;
  letter-spacing: 1.3px;
}

li a:hover {
  color: #88b87b;
}

.text-modulos {
  letter-spacing: 0.28px;
  font-weight: 200;
}

  /* modulos */

  /* .modulos{
    bottom: 0;
    position:relative;
  } */

.titulo-modulos{
  padding-top: 1em;
  text-align: center;
  color: #d4826e;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
}

.images{
    display:flex;
    width: 100%
}

.images > div {
    width:100%;
}

.img-modulos {
    width: 100%;
}

.corporalidad {
    color: white;
    width: 100%;
    background-color: #fcc472;
    height: 170px;
}

.corporalidad-title{
  text-transform: uppercase;
  font-weight: bold;
  border-bottom-left-radius: 1px solid #fff8e6;
}

.text-orange {
  color: #dc8c68;
}

.rotate{
  transform: rotate(180deg);
}


/* Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  width: max-content;
  left: -60%;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #d4826e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(0 0 0 / 1%);
  color: #88b87b;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


.ver-mas{
  cursor: pointer;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #d4826e;
  color: white;
  transform: rotateY(180deg);
}

.title-card-flip {
  position: relative;
  width: 40%;
  top: -90%;
  left: 10%; 
  color: white;
  border-bottom: 2px solid #ffffff;
  font-weight: bolder;
  text-align: left;
  text-transform: uppercase;
}

.content-ver-mas { 
  border-top: 1px solid #fff;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows:auto;
}

@media (max-width: 500px) {
  ul {
    list-style-type: none;
    margin:0% 10%;
    padding: 0;
    text-align: center;
    display: grid;
    justify-content: center;
  }

  .wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }

  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 150px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  .title-card-flip {
    position: relative;
    width: 80%;
    top: -90%;
    left: 10%; 
    color: white;
    border-bottom: 2px solid #ffffff;
    font-weight: bolder;
    text-align: left;
    text-transform: uppercase;
  }
  
  
}

