<section class="home">
    <div class="titulo">
        <a routerLink="homes"><img src="" alt=""></a>
    </div>

    <ul class="nav justify-content-center mt-3" *ngIf="this.datos">
        <li class="nav-item">
            <a class="nav-link" routerLink="para-que-es">{{this.menu[0].name_page}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="a-quienva-dirigida">{{this.menu[1].name_page}}</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropbtn">MÓDULOS</a> 
            <div class="dropdown-content" >
                <a *ngFor="let item of menuInterno; let i=index" (click)="redirecMenu(item.id)">{{item.name_module}}</a>
            </div> 
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="principios">{{this.menu[3].name_page}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="kas">KAS</a>
        </li>
    </ul>
      
    <div class="mt-5">
        <router-outlet></router-outlet>
    </div>

    <div class="container mt-5">
            <div class="d-flex justify-content-center mb-5">
                <img src="../../../assets/img/Flecha.png" alt="" width="50px">
            </div>
    </div>
 
    <section class="modulos">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="col-8 offset-2">
                        <div class="d-flex justify-content-center mt-5  rotate">
                            <img src="../../../assets/img/Flecha.png" alt="" width="50px">
                        </div>
                        <h2 class="titulo-modulos">módulos</h2>
                        <p class="text-orange text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, eligendi magni numquam ex totam voluptatem fugit ea suscipit dolore sunt officiis consequatur reprehenderit ab</p>
                    </div>
                </div>
            </div>
            
        </div>
        

      <!--   <div>
            <div class="images wrapper">
                <div>
                    <img src="../../../assets/img/1-Prejuicios.jpg" alt="" class="img-modulos" (click)="redirecMenu(1)">
                </div>
                <div>
                    <img src="../../../assets/img/2-Emociones.jpg" alt="" class="img-modulos" (click)="redirecMenu(2)">
                </div>
                 <div>
                    <img src="../../../assets/img/2-Emociones.jpg" alt="" class="img-modulos">
                </div> 
            </div>
        </div>
        
        <div class="corporalidad">
            <div class="d-flex justify-content-center">
                <h4 class="corporalidad-title mt-5" (click)="redirecMenu(3)">corporalida</h4>
            </div>
        </div>
 -->
       
      

        <div>
            <div class="images wrapper">
                <div class="flip-container" *ngFor="let item of menuInterno; let i=index">
                    <ng-container *ngIf="i<=2;">
                        <div class="card1">
                            <div class="front" [ngStyle]="{'background-image': 'url('+urlimage+item.imagen_min+')'}">
                              <h3>{{item.name_module}}</h3>
                            </div>
                            <div class="back">
                              <p>{{item.description}}</p>
                              <div class=" d-flex justify-content-center">
                                  <span>
                                      ver mas
                                      <i class="bi bi-arrow-right"></i>
                                  </span>
                              </div>
                            </div>
                        </div>
                    </ng-container>
                </div> 
            </div>
        </div>
       

    </section>
</section>
