<app-loader *ngIf="loader"></app-loader>
<section class="home" id="home">
    <div class="titulo mb-1">
        <a routerLink="homes"><img class="logo-garabatos-home" src="./assets/img/LogoHomeGris522X164.png" alt=""></a>
    </div>

    <ul class="nav justify-content-center" *ngIf="this.datos">
        <li class="nav-item">
            <a class="nav-link fw-bolder" routerLink="para-que-es">{{this.menu[0].name_page}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bolder" routerLink="a-quienva-dirigida">{{this.menu[1].name_page}}</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link fw-bolder dropbtn">MÓDULOS</a>
            <div class="dropdown-content" >
                <a class="text-uppercase" *ngFor="let item of menuInterno; let i=index" (click)="redirecMenu(item.id)">{{item.name_module}}</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bolder" routerLink="principios">{{this.menu[3].name_page}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bolder" routerLink="kas">{{this.menu[4].name_page}}</a>
        </li>
    </ul>

    <div class="">
        <router-outlet></router-outlet>
    </div>

    <div class="container mt-5">
            <div class="d-flex justify-content-center mb-5">
                <div href="" (click)="goToAnchor('modulos')">
                    <img src="./assets/img/Flecha.png" alt="" width="50px">
                </div>
            </div>
    </div>

    <section class="modulos" id="modulos">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="content-center col-11 col-lg-8">
                        <div class="d-flex justify-content-center mt-5  rotate" (click)="goToAnchor('home')">
                            <img src="./assets/img/Flecha.png" alt="" width="50px">
                        </div>
                        <h2 class="titulo-modulos">módulos</h2>
                        <p class="text-orange text-center text-modulos">
                            Cada uno de estos módulos tiene un contenido teórico-práctico y funciona de manera independiente. Usted puede iniciar por el que prefiera y puede hacer el recorrido poco a poco, según sus tiempos.
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div  *ngIf="menuInterno">
          <ng-container  *ngFor="let item of menuInterno; let i=index">
            <div class="miniBanner" [class]="getPositionBanner(i)" [ngStyle]="{'background-color': item.color_module}" >

              <h3>
                <ng-container *ngIf="getPositionBanner(i) == 'full-wide'">
                <span class="lineFullWide lineLeft"></span>
                <span class="lineFullWide lineRight"></span>
                </ng-container>
                {{item.name_module | uppercase}}
              </h3>
              <div class="contentDescription">
                <div class="content-description">{{item.description}}</div>
                <div>
                    <span class="float-end ver-mas" (click)="redirecMenu(item.id)">
                        Ver mas
                        <i class="bi bi-arrow-right"></i>
                    </span>
                  </div>
            </div>
          </div>
          </ng-container>

        </div>
    </section>
</section>
