<section class="home">
    <div class="titulo">
        <h1>caja de herramientas</h1>
        <h4>para el diá a diá</h4>
    </div>

    <div class="menu-home">
        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
          </ul>
    </div>

    <section class="modulos">
        <div class="titulo-modulos">
            <h2>módulos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, eligendi magni numquam ex totam voluptatem fugit ea suscipit dolore sunt officiis consequatur reprehenderit ab</p>
        </div>

        <div class="images">
            <div>
                <img src="../../../assets/img/1-Prejuicios.jpg" alt="" class="img-modulos">
            </div>
            <div>
                <img src="../../../assets/img/2-Emociones.jpg" alt="" class="img-modulos">
            </div>
        </div>

        <div class="corporalidad">
            <h4>corporalida</h4>
        </div>
    </section>
</section>
