<div *ngIf="modules">
  <div class="bannerModulo">
    <img [src]="urlimage+modules.img_banner" class="img-responsive img-banner">
    <h1 class="texto-encima text-uppercase" *ngIf="modules" >{{modules.name_module}}</h1>
  </div>

</div>

<div class="container-fluid mt-5 mb-5 main-content-modules">
  <ng-container  *ngFor="let item of subModule; let i=index">
    <div class="row content-modulo">
      <div class="col-lg-3 titulo-sub-modulo">
        <h4 class="text-uppercase title-sub-module">{{item.sub_module_name}}</h4>
        <span class="img-globo" *ngIf="item.showMessageLocked">
          <img src="./assets/img/Globo-2.png" alt="">
      </span>
      </div>
      <div class="col-lg-5 col-sm-12 imagen-sub-module" (click)="verSubmodule(item)">
        <img [src]="urlimage+item.image_min" alt="" [ngClass]="{'opacity': item.locked==1}" class="img-sub-module">
        <ng-container *ngIf="item.locked==1">
          <img src="./assets/img/Candado.png" alt="" class="candado">
        </ng-container>
      </div>
      <div class="col contenido-sub-module">
        <p class="text-sub-module">{{item.description}}</p>

        <ng-container *ngIf="item.view_module==0; else elseBotonOjo" >
          <button class="float-end btn-visualized">
              <img src="./assets/img/3-Ojo.png" alt="">
          </button>
        </ng-container>
        <ng-template #elseBotonOjo>
          <button class="float-end btn-visualized visualized-ok">
              <img src="./assets/img/2-OK.png" alt="">
          </button>
      </ng-template>
      </div>
    </div>
    <hr *ngIf="i < subModule.length - 1" class="separador-modulo">
  </ng-container>

</div>
