<% if !@home_banner.blank? %>
	<h1>Editar Banner</h1>
<% else %>
	<h1>Crear Banner</h1>
<% end %>

<%= form_tag({:controller => "admin", :action => "insert_home_banner"},:method => "post", :multipart => true, :class =>'') do %>
	<label>Order</label>
	<input type="text" name="order" required="" value="<%= !@home_banner.blank? ?  @home_banner.order : '' %>">
	<br>

	<label>Imagen Modulo</label>
	<input type="file" name="image" <% if @home_banner.blank? %> required="" <% end %> >
	<% if !@home_banner.blank? %>
		<img src="<%=@home_banner.image %>" width="100" height="100"> 
		<input type="hidden" name="id" value ="<%= @home_banner.id%>" >
	<% end %>
	<br>

	<input type="submit" value="Guardar">

<%end%>