<%=form_tag({:controller=>"admin", action: :create_home_banner },:multipart => true, :class =>'form-send') do |form| %>

    <p>Order
    <input  type="text" name ="order" id="order">
    </p>
    <p>Subir imagen
    
    <%=file_field_tag "archivohome", :requiered=> "required"%>
        <button id="upload">Guardar </button>
    </p>

<%end%>