.btn-round{
    background-color: #fab180;
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border:none;
}

.title-sub-module{ 
    color: #87b879;
    text-transform: uppercase;
    text-decoration-line: underline;
}

.btn-sub-module { 
    background-color: #fcc472;
    color: white;
    padding:0.4em 2.5em;
    border:none;
    margin: 0.5em;
}

.text-flecha {
    color: #fab180;
    text-transform: uppercase;
    font-weight:bold;
    font-size:0.8em;
}

.btn-sub-module-select{ 
    background-color: #87b879;
    color: white;
    padding:0.4em 2.5em;
    border:none;
    margin: 0.5em;
}

.img-globo{
    position: relative;
    left: 1%;
    top: -70px;
}