<app-loader *ngIf="loader"></app-loader>
<div class="content-submodule container mb-5" *ngIf="datos">
    <h2 class="mb-5 title-sub-module" >{{moduleInfo.sub_module_name}}</h2>

    <div class="image-banner mb-3" *ngIf="(moduleInfo.link.indexOf('youtu') == -1 && moduleInfo.link_2.indexOf('youtu') == -1)">
      <img [src]="this.urlPdf+moduleInfo.image_min" alt="">
    </div>

    <div class="row" *ngIf="url(moduleInfo.link)">
      <div class="col-12">
        <div class="videoWrapp" *ngIf="moduleInfo.link.indexOf('youtu') > -1">
          <iframe [src]="url(moduleInfo.link)" allowfullscreen width="100%" height="100%"></iframe>
        </div>
        <div class="soundWrapp" *ngIf="moduleInfo.link.indexOf('soundcloud') > -1">
          <iframe [src]="url(moduleInfo.link)" allowfullscreen width="100%" height="100%"></iframe>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="url(moduleInfo.link_2)">
      <div class="col-12" >
        <div class="videoWrapp" *ngIf="moduleInfo.link_2.indexOf('youtu') > -1">
          <iframe [src]="url(moduleInfo.link_2)" allowfullscreen width="100%" height="100%"></iframe>
        </div>
        <div class="soundWrapp" *ngIf="moduleInfo.link_2.indexOf('soundcloud') > -1">
          <iframe [src]="url(moduleInfo.link_2)" allowfullscreen width="100%" height="100%"></iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12" *ngIf="moduleInfo.content">
          <div class="textcontent-submodule" [innerHTML]="moduleInfo.content | safeHTML"></div>
      </div>
    </div>

    <div class="row row-buttons">
      <div class="d-grid d-md-flex justify-content-center mt-4">
          <a class="btn" (click)="compled($event, moduleInfo.id)" [ngClass]="{'btn-sub-module': completado==false,'btn-sub-module-select': completado==true}">
              <img src="./assets/img/2-OK.png" alt="">
              completado
          </a>
          <a class="btn" (click)="verdespues($event, moduleInfo.id)" [ngClass]="{'btn-sub-module': verDespues==false,'btn-sub-module-despues': verDespues==true}">
              <img src="./assets/img/3-Ojo.png" alt="">
              ver despues
          </a>
      </div>
      <div class="button-file" *ngIf="moduleInfo.file_pdf != null">
        <a class="btn" target="_blank" [href]="urlPdf+moduleInfo.file_pdf">
            <img src="../../../assets/img/Ico-PDF.png" alt="">
        </a>
    </div>
    </div>

    <div class="row">

    </div>

    <div class="row">
      <div class="col" >
        <div class="content-button left-button" *ngIf="previus">
            <button class="btn-round " (click)="previus_submodule(previus,moduleId)">
                <img src="./assets/img/6-Flecha_Izq.png" alt="">
            </button>
            <span class="text-flecha">Anterior</span>

        </div>
      </div>

      <div class="col align-right justify-content-end" >
        <div class="content-button right-button" *ngIf="next">
          <button class="btn-round " (click)="next_submodule(next,moduleId)">
              <img src="./assets/img/7-Flecha_derecha.png" alt="">
          </button>
          <span class="text-flecha">Siguiente</span>
          <span class="img-globo" *ngIf="this.next.locked==1">
            <img src="./assets/img/Globo-2.png" alt="">
          </span>
        </div>
      </div>


    </div>
</div>
