.content-submodule{
  max-width: 990px;
  margin: 0 auto;
  padding-top: 6rem;
}

.videoWrapp{
  height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}

.videoWrapp iframe{
  max-height: 560px;
  height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.content-button{
  width: 80px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.btn-round{
    background-color: #f5af80;
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border:none;
    margin: 0 auto;
}

.left-button .btn-round img{
  margin-left: -2px;
  margin-top: -1px;
}

.right-button .btn-round img{
  margin-left: 3px;
  margin-top: -1px;
}

.right-button .img-globo{
  position: absolute;
  right: 60px;
  bottom: -8px;

}




.title-sub-module{
    font-size: 25px;
    letter-spacing: 2.5px;
    color: #86b47b;
    text-transform: uppercase;
    border-bottom: 1px solid #86b47b;
    padding-bottom: 5px;
    display: inline-block;
}

.btn-sub-module {
    background-color: #f7c371;
    color: white;
    padding:0.4em 2.5em;
    border:none;
    margin: 0.5em;
}

.text-flecha {
  color: #f5af80;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.9px;
}

.btn-sub-module-select{
    background-color: #87b879;
    color: white;
    padding:0.4em 2.5em;
    border:none;
    margin: 0.5em;
}

.btn-sub-module-despues{
  background-color: #c7c7c7;
  color: white;
  padding:0.4em 2.5em;
  border:none;
  margin: 0.5em;
}


.row-buttons{
  position: relative;
  margin-bottom: 1.5rem;
}

.row-buttons .button-file{
  position: absolute;
  right: 7px;
  bottom: calc(50% - 10px);
  transform: translateY(50%);
  width: 100px;
}

.image-banner img{
   width: 100%;
   object-fit: cover;

}

@media (max-width: 500px) {
  .right-button .img-globo{
    width: 140px;
  }

  .right-button .img-globo img{
    width: 100%;
  }
}
