h3{
    color: #f5af80;
}

p {
    color: #f5af80;
    font-weight: 300;
    width:100%;
}

h3 {
    font-weight: bolder;
}

.text-green {
    color:#88b87b !important;
}

span {
    color:#88b87b !important;
}

.text-justify{
    text-align: justify;
    line-height:18px ;
    color: #d58071;
}

.content-page .text-justify{
  padding-bottom: 2.5rem;
  border-bottom: 2px solid #fcc474;
}
