.content-loader{
    width: 100%;
    z-index: 9999;
    background-color: #FFF8E8;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
}

.loader{
    width: 100%;
    height: max-content;
}
