.video{
    width:100%;
    height:540px;
    padding:0;
    margin: 0;
}

.text-orange {
  color: #dc8c68;
}

.content-center{
  margin: 0 auto;
  max-width: 930px;
}

.text-modulos {
  letter-spacing: 0.28px;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: justify !important;
  line-height: 1.3;
}

@media (max-width: 500px) {
  .video{
    height: 150px;
  }

  .text-modulos {
    font-size: 1rem;
  }
}
