<!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" >
    <div class="carousel-item active" *ngFor="let item of homeBanner; let i=index">
      <img [src]="urlimage+item.image" class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
<video #video autoplay loop [muted]="true" playsinline src="./assets/img/garabatos-loop.mp4" class="mt-2 video"></video>
<div class="container">
  <div class="row">
      <div class="col-12 mt-3">
          <div class="content-center ">
              <p class="text-orange text-center text-modulos">Esta caja de herramientas ofrece algunos recursos que le permitirán comprender las experiencias emocionales, relacionarse de manera constructiva con la diferencia, construir relaciones positivas y transformar los estereotipos y prejuicios hacia las demás personas.</p>
              <p class="text-orange text-center text-modulos">Las herramientas que proponemos pueden impulsar el cambio de algunas reacciones habituales y automáticas, por respuestas que permiten tomar decisiones conscientes y alcanzar objetivos alineados con su bienestar.</p>
              <p class="text-orange text-center text-modulos">Cada uno de estos módulos tiene un contenido teórico-práctico y funciona de manera independiente. Usted puede iniciar por el contenido que prefiera y puede hacer el recorrido poco a poco, según sus tiempos.</p>
          </div>
      </div>
  </div>

</div>
