section {
    background-color: #fff8e6;
    color:#d4826e;
    height:90vh;
}

h3{
    text-align: center;
    text-transform: uppercase;
}


.br-login {
    background-color: white;
    height: 2px;
    margin: 1.3em 0em;
}

label {
    color: #d4836e;
    font-weight: bold;
}

label::first-letter {
    text-transform: uppercase;
}

input {
    border: none;
}

.br-register {
    background-color: #d4826e;
    height: 2px;
    margin: 1.3em 0em;
}

.btn-login{
    background-color:#fcc472;
    color:white;
    width: 20%;
}

.redirectToRegister{
    cursor: pointer;
    text-decoration: none;
    color:#fcc472;
}

input.ng-invalid.ng-touched{
    border: 1px solid red !important;
}

.ng-valid .ng-untouched{
    border:none!important;
}