section {
    background-color: #fff8e6;
    color:#d4826e;
    height:90vh;
}

.container{
  max-width: 800px;
}

h3{
    text-align: center;
    text-transform: uppercase;
}


.br-login {
    background-color: white;
    height: 2px;
    margin: 1.3em 0em;
}

label::first-letter {
    text-transform: uppercase;
}

input {
    border: none;
}

.br-register {
    background-color: #d4826e;
    height: 1px;
    margin: 1.3em 0em;
}

.btn-login{
    background-color:#fcc472;
    color:white;
    width: 30%;
}

.redirectToRegister{
    cursor: pointer;
    text-decoration: none;
    color:#fcc472;
}
