<div>
    <img src="../../../assets/img/1-Prejuicios.jpg" alt="">
    <h2>title</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <h4 class="text-uppercase" style="border-bottom: 2px solid #88b87b;">nombre contenido</h4>
        </div>
        <div class="col-6">
            <img src="../../../assets/img/1-Prejuicios.jpg" alt="" width="500px" height="280px">
        </div>
        <div class="col-3">
            <p style="border-top: 2px solid #88b87b;">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste odit quos a repellendus consequuntur, veritatis quis temporibus suscipit nesciunt deleniti optio soluta necessitatibus ipsum. Laboriosam suscipit dolorem nulla sed velit!
            </p>
        </div>
        <hr>
        <img src="../../../assets/img/Flecha.png" alt="">
    </div>
</div>
