<nav class="navbar navbar-expand-lg"*ngIf="!tokenValidate; else elseTemplate">
    <div class="container-fluid collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-left" >
        <li class="nav-item">
            <a class="navbar-brand">
                <img src="../../../assets/img/Prolongar.png" alt="" class="img-menu">
            </a>
        </li>
        <li  class="nav-item">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/img/konrad.png" alt="" class="img-menu">
            </a>
        </li>
        <li class="nav-item button-hamburger">
          <button>
            <span class="material-icons-outlined">menu</span>
          </button>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item text-uppercase"><a class="nav-link" [routerLink]="['/login']">inicio de sesión</a></li>
        <li class="nav-item"><a class="nav-link text-uppercase" >|</a></li>
        <li class="nav-item text-uppercase"><a class="nav-link" [routerLink]="'register'">regitrarse</a></li>
      </ul>
    </div>    
</nav>
<ng-template #elseTemplate>
  <app-menu></app-menu>
</ng-template>