.menu>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d4826e;
}

.navbar{
  background-color: #d4826e;
}

.navbar * {
  color:white;
  text-decoration: none;
}

.button-hamburger{
  visibility: hidden;
  display: none;
}

.img-menu {
  width: 70%;
}

@media (max-width: 500px) {
  .navbar-right{
    display: none;
  }

  .button-hamburger{
    visibility: visible;
    display: block;
    cursor: pointer;
    font-size: 1.8em;
    color:#fff;
  }

  .navbar * {
    color:white;
    text-decoration: none;
    flex-direction: row;
  }
}