.menu>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d4826e;
  }

.menu{
    width: 100%;
    background-color: #d4826e;
    display: flex;
}
  
.text-menu{
    width: 40%;
    margin-left: auto !important;
    justify-content:center;
    align-items:center;
}

.text-menu>li {
    float: right;
  }
  
  li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #d4826e;
  }

.logos-menu {
    width:30%;
}

.logos-menu>li {
    float: left;
    margin: 1em;
  }

  .logos-menu>li>img {
    filter:invert(0.9);
  }