<nav class="menu">
    <ul class="logos-menu">
        <li>
            <img src="../../../assets/img/Log-Prolongar.png" alt="">
        </li>
        <li>
            <img src="../../../assets/img/Log-Konrad.png" alt="">
        </li>
    </ul>
	<ul class="text-menu">
        <li><a class="text-uppercase" routerLink="register">regitrarse</a></li>
        <li><a class="text-uppercase" >|</a></li>
        <li><a class="text-uppercase" routerLink="login">inicio de sesión</a></li>
      </ul>
</nav>