<h1 class="text-center text-dark-orange mt-5">Login</h1>
<div class="container br-register"></div>

<!-- Mensaje de confirmacion-->
<div id="snackbar"><%=flash[:msg] %></div>

<!-- End Mensaje de confirmacion-->


<%= form_tag({:controller => "login", :action => "login_admin"},:method => "post", :multipart => true, :class =>'') do %>
	<div class="container">
		<div class="row">
			<div class="col">
				<label>Usuario</label>
				<input class="form-control" type="text" name="name" required="" value="">
			</div>
			<div class="col">
				<label>Password</label>
				<input class="form-control" type="password" placeholder="Password" id="password" name="password" required >
			</div>
		</div>
	</div>
	
	<div class="d-flex justify-content-center mt-3">
		<input type="submit" id="btn-login" value="Guardar" class="btn-create">
	</div>

<%end%>