
<nav class="navbar navbar-expand-lg">
    <div class="container collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-left" >
        <li class="nav-item text-uppercase"><a class="nav-link" routerLink="home/homes">caja de herramientas</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropbtn">MÓDULOS</a> 
            <div class="dropdown-content">
                <a class="nav-link" *ngFor="let item of menuInterno; let i=index" (click)="redirecMenu(item.id)">{{item.name_module}}</a>
            </div> 
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item text-uppercase item-responsive" *ngIf="user"><a class="nav-link">Hola {{user.user.user_name}}</a></li>
        <li class="nav-item dropdown">
            <i class="bi bi-person-circle btn-user dropbtn" style="font-size: 1.7em;"></i>
            <div class="dropdown-content">
                <a class="nav-link text-dark text-uppercase" (click)="logout()">cerrar sesión</a>
                <a class="nav-link text-dark text-uppercase">editar datos</a>
            </div> 
        </li>
        <li class="nav-item button-hamburger" *ngIf="menuSubHideShow!='home'">
            <i class="bi bi-list btn-hamburger" (click)="menuHideShow()"></i>
        </li>
      </ul>
    </div>
</nav>

<ng-container *ngIf="menu==false; else elseTemplate">
    
</ng-container>
<ng-template #elseTemplate>
    <div class="menu-modulos">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-lg-5 d-flex align-items-center contents-menu titles-modules">
                    <div class="">
                        <h3 class="text-light text-uppercase">lista de contenidos</h3>
                        <h1 class="text-light menu-title-module">{{menuTitle.name_module}}</h1>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-10 offset-lg-2 offset-sm-0 contents-menu row">
                    <div class="col-lg-12 mt-5">
                        <button (click)="menuHideShow()" class="btn-close"></button>
                    </div>
                    <div class="col-lg-12">
                        <ul class="menu-modules" *ngFor="let item of dataMenu">
                            <li class="item-modules nav-item"> 
                                <ng-container *ngIf="item.view_module==0; else elseTemplate" >
                                    <button class="float-start btn-visualized">
                                        <img src="./assets/img/3-Ojo.png" alt="">
                                    </button>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <button class="float-start btn-visualized-ok">
                                        <img src="./assets/img/2-OK.png" alt="">
                                    </button>
                                </ng-template>
                                <a class="nav-link" [ngClass]="{'disabled':item.view_module==0}" (click)="redirecSbMenu(item.id)">{{item.sub_module_name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>