<div class="titulo">
  <a class="main-logo-garabatos" routerLink="homes">
    <img class="logo-garabatos-home" src="./assets/img/LogoGarabatosSencillo.png" alt="">
    <span>Una caja de herramientas para salir de las acciones automáticas</span>
  </a>
</div>
<section class="d-flex align-items-center">
    <br>
    <div class="container">
        <br>
        <h3>Recuperar contraseña</h3>
        <div *ngIf="this.error" class="alert alert-danger" role="alert">
          {{ this.error }}
        </div>
        <div class="br-register"></div>
        <form *ngIf="!validateMail && !validatePassword" (ngSubmit)="submit()" class="form-register mt-4" #form="ngForm" name="form-login" >
          <ng-container  *ngIf="!this.model.token">
            <div class="row">
              <div class="col">
                  <label for="">Email</label>
                  <input #email="ngModel" [(ngModel)]="model.email" type="email" class="form-control" name="email"  required pattern="([A-Z|a-z|0-9|\-!#$%&'*+_](\.){0,1})+[A-Z|a-z|0-9|\-!#$%&'*+_]\@([A-Z|a-z|0-9|\-!#$%&'*+_])+((\.){0,1}[A-Z|a-z|0-9]){1}\.[a-zA-Z]{2,6}(\.[a-zA-Z]{2,6})?">
                  <ng-container *ngIf="email.errors && email.touched && email.invalid">
                    <span *ngIf="email.errors.pattern" class="form-error">Correo electrónico inválido</span>
                    <span *ngIf="email.errors.required" class="form-error">Correo electrónico requerido</span>
                  </ng-container>
              </div>
          </div>
          </ng-container>

          <ng-container  *ngIf="this.model.token">
            <div class="row mb-2">
              <div class="col">
                <label for="">Contraseña:</label>
                <input #password="ngModel" type="password" class="form-control" name="password" required [(ngModel)]="model.password" validateEqual="confirmarContrasena" reverse="true">
                <ng-container *ngIf="password.errors && password.touched && password.invalid">
                  <span *ngIf="password.errors.required" class="form-error">La contraseña es requerida</span>
                </ng-container>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="">Confirmar Contraseña:</label>
                <input #confirmarContrasena="ngModel" type="password" class="form-control" name="confirmarContrasena" required  [(ngModel)]="model.confirmarContrasena" validateEqual="password" >
                <ng-container *ngIf="confirmarContrasena.errors &&  confirmarContrasena.touched && confirmarContrasena.invalid">
                  <span class="form-error">Las contraseñas no coinciden</span>
                </ng-container>
              </div>
            </div>
          </ng-container>


            <div class="d-flex justify-content-center">
                <button class="btn mt-4 btn-login" >Enviar</button>
            </div>
        </form>
        <div *ngIf="validateMail" class="align-center">
          Un correo fue enviado a la dirección de correo electrónico <strong>{{ model.email }}</strong> con instrucciones para recuperar su contraseña.
        </div>

        <div *ngIf="validatePassword" class="align-center legal-form">
          La contraseña fue cambiada con exito, inicie sesión <a class="redirectToRegister" routerLink="/login">aquí</a>
        </div>
    </div>


</section>
